* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/269158.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .container {
    /* min-height: 300px;
    max-width: 440px; */
    /* position: absolute; */
    padding: 30px 50px;
    border: white solid 0px;
    border-radius: 30px;
    /* backdrop-filter: blur(40px); */
    /* box-shadow: 0 0 30px rgba(35, 35, 35, 0.8); */
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .logo h1 {
    font-family: "Pacifico", cursive;
    /* color: #e265b1; */
  
    background: linear-gradient(to right, #ffffff, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: #41b6e6;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    border-radius: 30px;
    align-content: center;
  }
  
  ::placeholder {
    color: white;
    opacity: 0.7;
    font-size: 18px;
  }
  
  input {
    flex-grow: 1;
    background: transparent;
    border: 1px solid #41b6e6;
    color: rgb(255, 255, 255);
    /* background: #f2f2f2; */
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    padding: 12px;
    box-sizing: border-box;
  }
  input:focus {
    outline: none;
  }
  
  button {
    border-radius: 0px 5px 5px 0px;
    background: #41b6e6;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #41b6e6;
    cursor: pointer;
  }
  button:hover {
    background: #78c1e0;
  }
  
  .list-of-names {
    padding: 20px 0px;
    cursor: pointer;
  }
  
  .list-of-names div {
    margin-right: 10px;
    margin-bottom: 10px;
    background: #41b6e6;
    color: #fff;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 13px;
    align-items: center;
  }
  .list-of-names div:hover {
    background: #607d8b;
  }
  
  .error-label {
    color: #f44336;
    padding: 10px;
    text-align: center;
    font-weight: 600;
  }
  
  .action-button {
    cursor: pointer;
    border: 1px solid #e265b1;
    color: #e265b1;
    font-size: 16px;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 11px;
    margin: 0 auto;
    font-weight: bold;
  }
  .action-button:hover {
    background: #db3eb1;
    color: #fff;
  }
  
  .action-button.btn2 {
    border: 1px solid #42b6e6;
    color: #42b6e6;
    font-weight: bold;
    margin-top: 5px;
  }
  .action-button.btn2:hover {
    background: #42b6e6;
    color: #fff;
  }
  
  .result-value {
    font-size: 60px;
    color: #41b6e6;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .result-container h1 {
    padding: 30px 50px;
    color: #e265b1;
    text-decoration: underline;
    text-decoration-color: #41b6e6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h2 {
    text-align: center;
  }
  
  .logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
  }

  .logo {
    margin-bottom: 10px;
  }